.alert {
	-fx-font-size: 14px;
}

.header {
    -fx-background-color: #121212;
}

.sub-header {
	-fx-background-color: linear-gradient(to bottom, #121212, rgba(70, 70, 70, 0));
}

.opacity-pane {
	-fx-background-color: rgba(0, 0, 0, 0.7);
}

.menu-bar > .container  .label {
	-fx-font-size: 14px;
}

.singlerow.text-area > .scroll-pane {
	-fx-vbar-policy: never; /* Control the vertical ScrollBar (always,needed,never) */
	-fx-hbar-policy: always; /* Control the horizontal ScrollBar (always,needed,never) */
}

.text-area:focused .content {
    -fx-background-color:
        linear-gradient(from 0px 0px to 0px 4px, derive(-fx-control-inner-background, -8%), -fx-control-inner-background);
    -fx-background-radius: 2;
}

.text-area:focused {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        derive(-fx-base,-1%);
}

.flag:hover {
	-fx-opacity: 0.6;
}

.button {
	-fx-focus-traversable: false;
	-fx-background-color: #303030;
	-fx-background-radius: 4;
	-fx-border-color: #FFF;
	-fx-border-radius: 4;
	-fx-text-fill: #0CF;
	-fx-font-size: 15;
	-fx-font-weight: bolder;
}

.button:hover {
	-fx-focus-traversable: false;
	-fx-background-color: #0CF;
	-fx-text-fill: #FFF;
}

.button:pressed {
	-fx-background-color: derive(#0CF, -20%);
}

.cmd.button {
	-fx-alignment: center-left;
	-fx-font-size: 18px;
	-fx-font-weight: bold;
	-fx-padding: 10;
}

.combo-box .combo-box-popup .list-view  {
	-fx-background-color: red;
}

.combo-box .combo-box-popup .list-cell:hover {
    -fx-text-fill: yellow ;
    -fx-background-color: green ;
}

/* .combo-box-base,
.combo-box-base:editable > .arrow-button {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    /* -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
} */

.combo-box-base,
.combo-box-base:editable .arrow-button {
	-fx-background-color: transparent, transparent, transparent, transparent;
}

.combo-box-base:editable .arrow-button {
	-fx-border-color: #0CF;
	-fx-border-insets: 1;
	-fx-border-radius: 2;
}

.radio-button:selected .radio .dot {
	-fx-background-color: #0CF;
}

.radio-button .radio {
	/*-fx-background-color: white;*/
	-fx-background-color: transparent;
	-fx-border-radius: 100%;
	-fx-border-color: white;
	-fx-padding: 3 4.5 6 4.5;
	-fx-border-width: 1.5;
}


.radio-button .text {
	-fx-fill: white;
	-fx-font-size: 14;
	-fx-font-family: 'Comic Sans MS';
}

/* .combo-box .arrow-button {
	-fx-background-color: transparent;
} */

.combo-box .arrow {
	-fx-background-color: #0CF;
} 

.bordered-pane {
	-fx-border-color: black;
	-fx-border-width: 2;
	-fx-border-radius: 3;
}

.bordered-pane-title {
	-fx-background-color: transparent;
	-fx-padding: 0 3 0 3;
	-fx-text-fill: #0CF;
	-fx-font-weight: bold;
	-fx-font-size: 15;
	-fx-font-style: italic;
}