.root {
	-color-primary: #0CF;
	-color-primary-dark: derive(-color-primary, -30%);
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.registerBox .text-field {
	-fx-background-color: transparent;
	-fx-border-color: transparent transparent -color-primary-dark transparent;
	-fx-border-width: 1;
	-fx-border-insets: -1;
	-fx-text-fill: white;
	-fx-font-size: 16;
}

.registerBox .text-field:focused {
	-fx-border-color: transparent transparent -color-primary transparent;
	-fx-border-width: 2;
}

.list-cell:focused {
    -fx-background-color: -fx-background;
}

.list-cell:filled:selected {
	-fx-background-color: -color-primary;
}

.list-cell:filled:hover { 
    -fx-background-color: -color-primary-dark;
    -fx-text-fill: white;
}

.registerBox .text-field-error,
.registerBox .text-field-error:focused {
	-fx-background-image: url('img/error.png');
	-fx-background-repeat: no-repeat;
	-fx-background-size: 12;
	-fx-background-position: right top;
	-fx-border-color: transparent transparent red transparent;
	-fx-border-width: 2;
}

.registerBox .text-field-valid,
.registerBox .text-field-valid:focused {
	-fx-background-image: url('img/green_tick.png');
	-fx-background-repeat: no-repeat;
	-fx-background-size: 12;
	-fx-background-position: right top;
	-fx-border-color: transparent transparent #7AC043 transparent;
	-fx-border-width: 2;
}

.alert {
	-fx-font-size: 14px;
}

.header {
    -fx-background-color: #121212;
}

.sub-header {
	-fx-background-color: linear-gradient(to bottom, #121212, rgba(70, 70, 70, 0));
}

.opacity-pane {
	-fx-background-color: rgba(0, 0, 0, 0.7);
}

.menu-bar > .container  .label {
	-fx-font-size: 14px;
}

.singlerow.text-area > .scroll-pane {
	-fx-vbar-policy: never; /* Control the vertical ScrollBar (always,needed,never) */
	-fx-hbar-policy: always; /* Control the horizontal ScrollBar (always,needed,never) */
}

.text-area:focused .content {
    -fx-background-color:
        linear-gradient(from 0px 0px to 0px 4px, derive(-fx-control-inner-background, -8%), -fx-control-inner-background);
    -fx-background-radius: 2;
}

.text-area:focused {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        derive(-fx-base,-1%);
}

.flag:hover {
	-fx-opacity: 0.6;
}

.button {
	-fx-focus-traversable: false;
	-fx-background-color: #303030;
	-fx-background-radius: 4;
	-fx-border-color: #FFF;
	-fx-border-radius: 4;
	-fx-text-fill: -color-primary;
	-fx-font-size: 15;
	-fx-font-weight: bolder;
}

.button:hover {
	-fx-focus-traversable: false;
	-fx-background-color: -color-primary;
	-fx-text-fill: #FFF;
}

.button:pressed {
	-fx-background-color: derive(-color-primary, -20%);
}

.cmd.button {
	-fx-alignment: center-left;
	-fx-font-size: 18px;
	-fx-font-weight: bold;
	-fx-padding: 10;
}

.radio-button:selected .radio .dot {
	-fx-background-color: -color-primary;
}

.radio-button .radio {
	/*-fx-background-color: white;*/
	-fx-background-color: transparent;
	-fx-border-radius: 100%;
	-fx-border-color: white;
	-fx-padding: 3 4.5 6 4.5;
	-fx-border-width: 1.5;
}


.radio-button .text {
	-fx-fill: white;
	-fx-font-size: 14;
	-fx-font-family: 'Comic Sans MS';
}

.label .text {
	-fx-fill: white;
}

.slider .thumb {
	-fx-color: -color-primary;
}

/* .slider:focused .thumb {
    -fx-background-color:
        linear-gradient(to bottom, derive(-fx-text-box-border, -20%), derive(-fx-text-box-border, -30%)),
        -fx-inner-border,
        -fx-body-color;
    -fx-background-insets: 0, 1, 2;
} */

.combo-box .arrow {
	-fx-background-color: -color-primary;
	-fx-background-insets: -2;
}

.combo-box {
	-fx-background-color: white;
	-fx-background-radius: 2 0 0 2;
	-fx-background-insets: 0 27 0 0;
}

.combo-box-base .arrow-button {
	-fx-border-color: -color-primary -color-primary -color-primary transparent;
	-fx-border-radius: 0 2 2 0;
}

.bordered-pane {
	/* -fx-border-color: black;
	-fx-border-width: 2;
	-fx-border-radius: 3; */
	-fx-background-color: rgba(48, 48, 48, 0.9);
	-fx-background-radius: 3;
}

.bordered-pane-title {
	-fx-background-color: transparent;
	-fx-padding: 0 3 0 3;
	-fx-text-fill: -color-primary;
	-fx-font-weight: bold;
	-fx-font-size: 15;
	-fx-font-style: italic;
}