.root {
	-color-primary: #0CF;
	-color-primary-dark: derive(-color-primary, -30%);
}

/*.date-cell {
	-fx-background-color: red;
}
.date-picker .text {
	-fx-fill: white;
}*/

.new-event > .combo-box .combo-box .list-cell:filled:selected {
	-fx-background-color: transparent;
}

.new-event > .list-view .list-cell > * > .button {
	-fx-background-insets: 1;
}

.new-event > .label,
.event-details > .label {
	-fx-font-size: 18;
}

.new-event .list-view .combo-box > .list-cell {
	-fx-border-color: black transparent black black;
	-fx-border-radius: 2 0 0 2;
	-fx-background-radius: 2 0 0 2;
	
}

.new-event > .list-view .list-cell .combo-box-base .arrow-button {
	-fx-background-color: #121212;
	-fx-border-color: #121212 #121212 #121212 transparent;
}

.new-event .list-view,
.new-event .list-view .list-cell,
.new-event .list-view .list-cell:focused {
	-fx-background-radius: 2;
}

.new-event .list-view .list-cell .list-cell,
.new-event .list-view .list-cell .list-cell:focused {
    -fx-background-radius: 0;
}

.date-picker-popup > .month-year-pane {
	-fx-background-color: #303030;
}

.date-picker-popup > * > .spinner > .button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.date-picker-popup > * > .spinner > .button > .left-arrow,
.date-picker-popup > * > .spinner > .button > .right-arrow {
    -fx-background-color: -color-primary;
}

.date-picker .arrow {
	-fx-background-color: -color-primary;
	-fx-background-insets: -2;
}

.date-picker {
	-fx-background-color: white;
	-fx-background-radius: 2 0 0 2;
	-fx-background-insets: 0 27 0 0;
}

.date-picker .arrow-button {
	-fx-border-color: -color-primary -color-primary -color-primary transparent;
	-fx-border-radius: 0 2 2 0;
	-fx-background-color: transparent;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.registerBox .text-field {
	-fx-background-color: transparent;
	-fx-border-color: transparent transparent -color-primary-dark transparent;
	-fx-border-width: 1;
	-fx-border-insets: -1;
	-fx-text-fill: white;
	-fx-font-size: 16;
}

.registerBox .text-field:focused {
	-fx-border-color: transparent transparent -color-primary transparent;
	-fx-border-width: 2;
}

.list-cell:focused {
    -fx-background-color: -fx-background;
}

.list-cell:filled:selected {
	-fx-background-color: -color-primary;
}

.list-cell:filled:hover { 
    -fx-background-color: -color-primary-dark;
    -fx-text-fill: white;
}

.registerBox .text-field-error,
.registerBox .text-field-error:focused {
	-fx-background-image: url('img/error.png');
	-fx-background-repeat: no-repeat;
	-fx-background-size: 12;
	-fx-background-position: right top;
	-fx-border-color: transparent transparent red transparent;
	-fx-border-width: 2;
}

.registerBox .text-field-valid,
.registerBox .text-field-valid:focused {
	-fx-background-image: url('img/green_tick.png');
	-fx-background-repeat: no-repeat;
	-fx-background-size: 12;
	-fx-background-position: right top;
	-fx-border-color: transparent transparent #7AC043 transparent;
	-fx-border-width: 2;
}

.alert {
	-fx-font-size: 14px;
}

.header {
    -fx-background-color: #121212;
}

.sub-header {
	-fx-background-color: linear-gradient(to bottom, #121212, rgba(70, 70, 70, 0));
}

.opacity-pane {
	-fx-background-color: rgba(0, 0, 0, 0.7);
}

.menu-bar > .container  .label {
	-fx-font-size: 14px;
}

.singlerow.text-area > .scroll-pane {
	-fx-vbar-policy: never; /* Control the vertical ScrollBar (always,needed,never) */
	-fx-hbar-policy: always; /* Control the horizontal ScrollBar (always,needed,never) */
}

.text-area:focused .content {
    -fx-background-color:
        linear-gradient(from 0px 0px to 0px 4px, derive(-fx-control-inner-background, -8%), -fx-control-inner-background);
    -fx-background-radius: 2;
}

.text-area:focused {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        derive(-fx-base,-1%);
}

.flag:hover {
	-fx-opacity: 0.6;
}

.button {
	-fx-focus-traversable: false;
	-fx-background-color: #303030;
	-fx-background-radius: 5;
	-fx-border-color: #FFF;
	-fx-border-radius: 4;
	-fx-border-insets: 0 0 -1 0;
	-fx-text-fill: -color-primary;
	-fx-font-size: 15;
	-fx-font-weight: bolder;
}

.button:hover {
	-fx-focus-traversable: false;
	-fx-background-color: -color-primary;
	-fx-text-fill: #FFF;
}

.button:pressed {
	-fx-background-color: derive(-color-primary, -20%);
}

.cmd.button {
	-fx-alignment: center-left;
	-fx-font-size: 18px;
	-fx-font-weight: bold;
	-fx-padding: 10;
}

.radio-button:selected .radio .dot {
	-fx-background-color: -color-primary;
}

.radio-button .radio {
	/*-fx-background-color: white;*/
	-fx-background-color: transparent;
	-fx-border-radius: 100%;
	-fx-border-color: white;
	-fx-padding: 3 4.5 6 4.5;
	-fx-border-width: 1.5;
}


.radio-button .text {
	-fx-fill: white;
	-fx-font-size: 14;
	-fx-font-family: 'Comic Sans MS';
}

.label .text {
	-fx-fill: white;
}

.slider .thumb {
	-fx-color: -color-primary;
}

.combo-box .arrow {
	-fx-background-color: -color-primary;
	-fx-background-insets: -2;
}

.combo-box {
	-fx-background-color: white;
	-fx-background-radius: 2 0 0 2;
	-fx-background-insets: 0 27 0 0;
}

.combo-box-base .arrow-button {
	-fx-border-color: -color-primary -color-primary -color-primary transparent;
	-fx-border-radius: 0 2 2 0;
}

.bordered-pane {
	/* -fx-border-color: black;
	-fx-border-width: 2;
	-fx-border-radius: 3; */
	-fx-background-color: rgba(48, 48, 48, 0.9);
	-fx-background-radius: 3;
}

.bordered-pane-title {
	-fx-background-color: transparent;
	-fx-padding: 0 3 0 3;
	-fx-text-fill: -color-primary;
	-fx-font-weight: bold;
	-fx-font-size: 15;
	-fx-font-style: italic;
}

.errorDialog.dialog-pane:header .header-panel {
    -fx-background-color: rgba(32, 32, 32,.2);
    -fx-background-color: linear-gradient(to right, rgba(32, 32, 32,0.5) 0%, rgba(32, 32, 32,1) 100%);
}

.errorDialog > .content.label {
    -fx-font-size: 14px;
    /*-fx-font-weight: bold;*/
}

.errorDialog > .content,
.dialog-pane > .button-bar > .container  {
    -fx-background-color: #303030;
}

.errorDialog:header .header-panel .label .text {
	-fx-fill: -color-primary;
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    /*-fx-text-fill: red;*/
}